type: "MARKDOWN_NOTE"
folder: "fc3408f307745f3d4ca0"
title: "mail address"
content: '''
  # mail address
  
  - yahoo
    * gomegome0@yahoo.co.jp
    * jmg2334@yahoo.co.jp
    * nonji012@yahoo.co.jp
    * hhh11303@yahoo.co.jp
    * qvc332@yahoo.co.jp
    * mubouji@yahoo.co.jp
    
  - excite
    * gongon11142@excite.co.jp
    * dm21dm21@excite.co.jp
    * huijuh@excite.co.jp
    * guin112@excite.co.jp
    * pitijok@excite.co.jp
    * prooon12@excite.co.jp
    * domine11@excite.co.jp 
      * pass: eminem25010810
  
  - google
    * jun.iwamoto014@gmail.com
    * abc22921@gmail.com
  
  - softbank
    * jun-eminem-0810@i.softbank.jp
    * jun2294@icloud.com
  
  - aol
    * momon1212@aol.jp
    * konkon22@aol.jp
    * jojo1190@aol.jp
    * lplp1110@aol.jp
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-12-09T13:45:55.615Z"
updatedAt: "2017-12-09T13:46:06.909Z"
