createdAt: "2018-02-10T05:47:38.856Z"
updatedAt: "2018-02-10T13:32:32.864Z"
type: "MARKDOWN_NOTE"
folder: "6baa129db50286e7fd9c"
title: "Ubuntu Settings"
content: '''
  # Ubuntu Settings
  
  ## Fcitx-mozc
  ```
  $ sudo apt install fcitx-autostart
  ```
  session and startupに，/usr/bin/fcitx-autostartを追加．
  
  ## python環境
  ```
  $ sudo apt-get install git gcc make openssl libssl-dev libbz2-dev libreadline-dev libsqlite3-dev
  
  # pyenv install
  $ git clone https://github.com/yyuu/pyenv.git ~/.pyenv
  
  #環境変数 bashrcなどに書いておく．
  export PYENV_ROOT=$HOME/.pyenv
  export PATH=$PYENV_ROOT/bin:$PATH
  eval "$(pyenv init -)"
  
  # 使えるものの中の最新をインストール
  $ pyenv install --list
  
  $ pyenv isntall 3.6.4
  
  $ pyenv global 3.6.4
  
  $ python -V
  -> 3.6.4
  
  $ pip install pipenv
  
  $ pipenv --python 3.6.4
  
  $ pipenv shell
  ```
  
  ## NeoVim
  NeoVim パッケージ
  ```
  $ sudo apt install software-properties-common
  
  $ sudo add-apt-repository ppa:neovim-ppa/unstable
  $ sudo apt update
  $ sudo apt install neovim
  ```
  Install dependencies for NeoVim's python3 module
  ```
  $ pip install -U pip
  $ pip install neovim
  ```
  
  ## Tmux
  ```
  $ sudo apt install libevent-dev libncurses5-dev automake pkg-config
  $ sudo apt install xsel
  ```
  
  ## ZSH
  ```
  $ sudo apt install zsh
  $ chsh -s $(which zsh)
  
  # 依存関係をインストール
  $ sudo apt install curl gawk
  
  $ curl -sL --proto-redir -all,https https://raw.githubusercontent.com/zplug/installer/master/installer.zsh| zsh
  
  
  ```
  
  ## Package
  ```
  $ sudo apt install ranger i3 
  ```
  
'''
tags: []
isStarred: false
isTrashed: false
