type: "MARKDOWN_NOTE"
folder: "b7ce6514a4ffdab89637"
title: "Arch Linux Install (GPT)"
content: '''
  # Arch Linux Install (GPT)
  ## インストールの準備
  DVDにisoを焼く．だけ．
  
  ## キーボードレイアウトの変更
  USキーボードでない場合はキーボードの変更．
  例えば，日本語キーボードの場合
  ```
  $ loadkeys jp106
  $ setfont lat9w-16
  ```
  
  ## パーティショニングとファイルシステム作成
  ```
  $ gdisk /dev/sda
  ```
  ここから，パーティションを
  | Number | Start (sector) | End (sector) | Size | Code | Name |
  |:--|--:|--------:|----:|---:|----:|---:|
  | 1 | hoge | hoge | 512.0MiB | EF00 | EFI System |
  | 2 | hoge | hoge | 16.0GiB  | 8200 | Linux swap |
  | 3 | hoge | hoge | all      | 8300 | Linux filesystem |
  となるように設定する．
  
  ```
  Command (? for help):o
  
  Command (? for help):n
  Permission number: 1
  First sector     : 何も押さずエンター
  Last sector      : +512M
  Hex code or GUID : EF00
  
  Command (? for help):n
  Permission number: 2
  First sector     : 何も押さずエンター
  Last sector      : +16G
  Hex code or GUID : 8200
  
  Command (? for help):n
  Permission number: 3
  First sector     : 何も押さずエンター
  Last sector      : 何も押さずエンター 
  Hex code or GUID : 8300
  ```
  
  ## ファイルシステムとswapの作成
  ESPのフォーマット
  ```
  $ mkfs.vfat -F32 /dev/sda1
  ```
  Linuxファイルシステムのフォーマット
  ```
  $ mkfs.ext4 /dev/sda3
  ```
  スワップの作成と読み込み
  ```
  $ mkswap /dev/sda2
  $ swapon /dev/sda2
  ```
  
  ## パーティションのマウント
  まずはルートからマウントする．
  ```
  $ mount /dev/sda3 /mnt
  ```
  
  次にESPを/mnt/bootにマウントする．
  ```
  $ mkdir /mnt/boot
  $ mount /dev/sda1 /mnt/boot
  ```
  
  ## システムのインストール
  ## ミラーリストの設定
  Asiaのjaistサーバーを一番上に
  ```
  vi /etc/pacman.d/mirrorlist
  ```
  
  ## インストール
  ```
  $ pacstrap /mnt base base-devel
  ```
  
  ## fstabの作成
  ```
  $ genfstab -U -p /mnt >> /mnt/etc/fstab
  ```
  
  ## システム設定
  ## 新システムへの移行
  ```
  $ arch-chroot /mnt /bin/bash
  ```
  
  ## ロケール設定
  ```
  $ vi /etc/locale.gen
  ```
  以下の行をコメントアウトする．
  ```
  en_US.UTF-8 UTF-8
  ja_JP.UTF-8 UTF-8 
  ```
  次に以下のコマンドを実行する．
  ```
  $ locale-gen
  ```
  
  ```
  $ echo LANG=en_US.UTF-8 > /etc/locale.conf
  $ export LANG=en_US.UTF-8 
  ```
  
  ## コンソールフォントとキーボードレイアウトの設定
  ```
  KEYMAP=jp106
  FONT=Lat2-Terminus16
  ```
  
  ## エリア設定
  ```
  $ ln -sf /usr/share/zoneinfo/Asia/Tokyo /etc/localtime
  ```
  
  ## 時刻設定
  ```
  $ hwclock -u -w
  ```
  
  ## ホスト名の設定
  ```
  $ echo hostname > /etc/hostname
  ```
  
  ## パスワード設定
  ```
  $ passwd
  ```
  
  grubのインストール
  ```
  $ pacman -S grub dosfstools efibootmgr
  $ grub-install --target=x86_64-efi --efi-directory=/boot --bootloader-id=arch_grub --recheck --debug
  $ grub-mkconfig -o /boot/grub/grub.cfg
  ```
  念の為，UEFIファームウェアにブータブルスタブを特定の場所に置く．
  ```
  $ mkdir /boot/EFI/boot
  $ cp /boot/EFI/arch_grub/grubx64.efi  /boot/EFI/boot/bootx64.efi
  ```
  
  ## 再起動
  ```
  $ exit
  $ umount -R /mnt
  $ reboot
  ```
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-12-09T14:07:28.916Z"
updatedAt: "2017-12-09T14:07:32.683Z"
