type: "MARKDOWN_NOTE"
folder: "43e744da4bd2665352d9"
title: "Git Proxy Config"
content: '''
  # Git Proxy Config
  
  1. GIt Proxy Config
  ```
  git config --global http.proxy http://proxy.example.com:8080
  git config --global https.proxy http://proxy.example.com:8080
  ```
  2. if your network have auth proxy
  ```
  git config --global http.proxy http://userID:Pass@proxy.example.com:8080
  git config --global https.proxy http://userID:Pass@proxy.example.com:8080
  ```
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-12-09T13:53:47.696Z"
updatedAt: "2017-12-09T13:53:51.031Z"
