type: "MARKDOWN_NOTE"
folder: "40607b78b62ae06589e8"
title: "阪大口頭試問"
content: '''
  # 阪大口頭試問
  
  ## 希望研究内容関連
  - 希望研究内容について(長め)
  > 波動解析は地震や津波などの災害予測やX線照射機器の設計など幅広く応用され，
  > 現在では私達の生活の中で重要な役割を果たしています．
  > 波動解析は並列計算に向いているため，GPUを用いた高速化が盛んになっていますが，
  > ただし，計算領域サイズが大きい場合，データ量が大きくなるのでアクセラレータ上でデバイスメモリ不足になります．
  > 第一希望研究室ではデータを分割し，パイプライン処理のチューニングに必要な情報を与えるPACCが提案されています.
  > また,波動解析のためのパイプラインの手法として,時空間パイプラインが遠藤らによって提案されています.
  > 私は,この時空間パイプラインがメモリアクセス数の観点からFPGAだけでなくGPUを用いた計算においても有用であると考えています.
  > そこで,GPUによる時空間パイプラインの有用性について検証し,性能を評価した後,それを用いたディレクティブを定義します.
  - その研究はどう役に立つか
  > 例えば，地震や津波などの災害予測は人命に関わる大事なものであったりするので，
  > 解析の高速性が必要不可欠となります．また，小さな研究機関などの場合，電力制約の問題があるのでより省電力性を求められます．
  > そのため，この研究によりそれに対して，アプローチしたい．
  - 小論文のアイデアの実現可能性
  > 時空間パイプラインより同時にアクセスする回数が減るので，GPUによるアクセラレーションに期待でき，
  > かつデータが大規模になるごとに同時にアクセスできる計算格子点数が増えるので，
  > 安定した性能が得られると考えています．
  - アイデアの課題点，根拠
  > GPUでの計算の処理の高速化が図れると考えていますが，
  > 現時点で実験したわけではないので，もし高速化が期待できない場合は
  > 別の手法を探す必要があります．
  - 小論文に示されている以外の波動解析の応用例
  > 例えば，ダムなどの防波堤周辺の水の波高分布を調べることで，
  > 水が防波堤を超えて漏れ出さない十分な高さを計算することができます．
  
  ## 雑多
  - 大学院を希望した理由
  > 研究設備が他の国公立大学と比較して豊富な点と,
  > 自分がしたい研究内容がそこにあるから.
  - なぜ並列処理講座か
  > 高速処理が好きなことと,
  > 研究室訪問した際に，いろいろと質問させて頂き，研究意欲が高まった．
  > 最先端の研究がここでできるから.
  - なぜこの分野に興味をもったか
  > もともとはアプリケーションの高速化などよりも,作る方により興味を持っていたが,
  > 学校での研究をしていくにつれ興味が変わった.
  - CIP法について詳しく
  > 小論文にも書かせて頂いてますが，CIP法はFDTD法などの他手法に比べて，精度よく解くことが可能なものになります．
  > 例えば，FDTD法などは関数値で次の時間ステップの値を計算し，波形を形成します．対して，CIP法は関数値に加えて関数の微分値も計算し，
  > 波形の傾きも移流させるので，精度よく解くことが可能になります．
  - CIP法でなければいけない点
  > 例えば，パルス波などの波を移流させる場合，パルス波というものは様々な周波数の波の集まりですのでFDTD法など計算すると
  > 高周波成分がばらついて波が振動していしまいます．しかしCIP法で計算すると，振動せずに安定的に計算することが可能です．
  - 数値分散性とは
  > 線形移流方程式を数値的に解くと，使用する空間差分法によっては数値分散という現象が現れます．
  > これは式の変換の途中で離散化した際に，解に分散性が現れることによって誤差が現れることを示しています．
  - 移流方程式とは
  > 移流方程式は1階の偏微分方程式の形で表されて，流体の流れに沿った移動を数値で表現している数式になります．
  - 計算が格子点ごとに独立とは
  > 計算が格子点ごとに独立していない場合，1点の値を計算するために他の点の値をいろいろと参照して計算しなければならなくなり，
  > 領域分割が難しくなります．それが独立している場合，領域で分割して計算可能なので，並列化しやすくなります．
  - ベクトル計算機上での波動解析例
  > 例えば，話題が少し前になるのですが，NECのスパコンを利用した地球シミュレータというものがありますが，
  > その中で計算されている温暖化予測や地球内部の変動の計算の多くにCIP法の波動解析が用いられています．
  - ムーアの法則はなぜ終わるか
  > 半導体は性能を向上させるためには面積当たりの集積度を上げる必要がありますが，微細化が進むにつれて，消費電力の低減が難しくなり，
  > 消費電力制約の観点から電力を供給できないダークシリコンと呼ばれる領域の割合が増える問題があります．
  > そのため，微細化をすすめることが難しくなりムーアの法則を維持することができなくなっています．
  - 小領域とはどのようなものを仮定しているか
  > データ量はどれだけグリッド幅によって変わりますが，例えばデータ量を等しいと考えると，
  > 大きなコンサートホールでの音波解析と小さなスタジオでの音波解析ぐらいの違いを想定しています．
  - 研究以外で頑張ったこと
  > 高専祭の電光掲示板制作をがんばりました．ステージイベントで遠くからでも見れるものでとても大きい物なので，どれ
  - 研究内容について
  > 現在はFPGAとCPUを混載したZynqのZYBOというボードを計算ノードとしたクラスタで，
  > CIP法の音波伝搬解析の高速化について研究しています．
  - 現在の長所と欠点
  > 本科時代空手部に所属していましたので，粘り強さがあると思っています．それは今の研究でも，
  > 行き詰まった際などうまく行くとおもって粘り強く続けていればうまく行くことも多いので活かすことができていると考えています．
  > 対して，欠点として粘り強いがためにひとつのことに集中しすぎてしまうことがあります．
  - labo死亡理由
  > 専攻科1年の夏季休暇中，中島先生の研究室でインターンシップでお世話になり，研究内容について詳しく知り得たことと，
  > 研究室の雰囲気を実際に体験することによって，こちらの研究室で研究したいと思い，死亡させていただきました．
  - プログラミングどれくらいできるか
  > HDLにより簡単な16bitmipsCPUを作ったり，高位合成により特定アプリのアクセラレータを作ったり，
  > 研究内容には直接関係はないですが，Android端末で実行可能なアプリゲームの作成を行ったりしました．
  - 電子工作ができるか
  > 電子工作については最近していないですが，ハンダ付けには上手さには自信があります．
  - ソースコードどのくらい書いてるの
  > 本科3ねんから書いてます．
  - 君のセールスポイント
  > 2年間並列計算やアクセラレータについて研究を行っているので，高位合成やアクセラレータの
  > 設計に理解があると自負しています．そのため，入学後すぐに研究を始めることができます．
  - 英語できますか
  > 英語は可もなく不可もなくですが，TOEICに関してもこちらのオープンキャンパスで
  > お聞きした平均点と同じぐらいなので自分では及第点かなと考えています．
  - 英語の授業大丈夫
  > 話すことは普段しないので慣れるのは難しいですが，
  > 読むことと聞くことは普段からしているので自信はありますし，頑張ります．
  - 得意科目はなにか
  > 計算機言語理論や論理回路
  - 卒業後の進路
  > 将来は現在の研究に関連したようなアクセラレータや回路設計などの職につきたいと考えていますが，
  > 博士後期課程に進むかどうかは今後の研究活動を通じて考えます．
  - 数学ができるか
  > 地震はあります．
  - なぜNAISTなのか
  > 研究資金が他大学と比較して潤沢な点と，准教授1名，助教2名により学生への研究サポートが手厚いという点で，志望させていただきました．
  - プログラミング言語はどれくらいできるか
  > PythonとCとjavascript程度なら．プログラミング言語とは違うがverilogも．
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-12-09T13:51:08.906Z"
updatedAt: "2017-12-09T13:51:23.801Z"
