type: "MARKDOWN_NOTE"
folder: "7c320bfe6916189e81aa"
title: "Bitbucket Install"
content: '''
  # Bitbucket Install
  > bitbucketユーザ：user
  > リモートリポジトリ：testremote
  > ローカルリポジトリパス：/opt/testremote
  > 接続プロトコル：ssh
  
  ## ssh鍵の登録
  公開鍵の作成
  ```
  cd ~/.ssh
  ##Bitbucket用のディレクトリ作成(test@hoge.comは自身のメールアドレスに読み替え)
  mkdir bitbucket
  cd bitbucket
  ssh-keygen -t rsa -C test@hoge.com
  Generating public/private rsa key pair.
  Enter file in which to save the key (/home/ユーザ名/.ssh/id_rsa): /home/user/.ssh/bitbucket/id_rsa#[先ほど作成したディレクトリパスに変更]
  Enter passphrase (empty for no passphrase):#[enterを押す] 
  Enter same passphrase again: #[enterを押す]
  ・
  ・
  ・
  ```
  
  ## 公開鍵をbitbucketに登録
  アカウントの管理 -> SSHキー -> 鍵を追加
  ```
  cat ~/.ssh/bitbucket/id_rsa.pub | pbcopy
  ```
  
  ## サーバ側の設定
  ```
  cd ~/.ssh
  touch config
  chmod 700 config
  vim config
  ```
  configを以下の通り設定
  ```
  Host bitbucket.org
    HostName bitbucket.org
    IdentityFile ~/.ssh/bitbucket/id_rsa
    User git
    Port 22
    TCPKeepAlive yes
    IdentitiesOnly yes
  ```
  
  ## 接続のテスト
  ```
  ssh -T bitbucket.org
  logged in as JunCole072.
  
  You can use git or hg to connect to Bitbucket. Shell access is disabled.
  ```
  
  ## ローカルリポジトリ作成
  ```
  ##ローカルリポジトリのディレクトリを作成
  mkdir /opt/testremote
  cd /opt/testremote
  
  ##git初期化
  git init
  
  ##リモートリポジトリをコピー
  git remote add origin https://bitbucket.org/user/testremote.git
  ##紐付きを確認
  git remote -v
  ```
  
  紐付いたら
  ```
  # サンプルファイルの作成
  echo "This is sample file." > test.txt
  git status
  # On branch master
  #
  # Initial commit
  #
  # Changes to be committed:
  #   (use "git rm --cached <file>..." to unstage)
  #
  #   new file:   test.txt
  #
  git add test.txt
  git commit -m "First Commit"
  git push 
  ```
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-12-09T06:55:13.248Z"
updatedAt: "2018-01-13T13:21:53.891Z"
