type: "MARKDOWN_NOTE"
folder: "929f2017d8d25fd62a28"
title: "OpenVPN Client + Ubuntu 16.04 LTS"
content: '''
  # OpenVPN Client + Ubuntu 16.04 LTS
  
  ### OpenVPN Install
  ```
  sudo apt-get install openvpn network-manager-openvpn-kde
  ```
  
  ### VPN Gate
  http://www.vpngate.net/ja/
  「OpenVPN設定ファイル」 -> TCP File Download
  
  ### NetWork Setting
  Network Setting -> VPN Connection
  Import Setting File -> Create
  <br>
  Authentication Type -> Passwd
  Username -> `vpn`
  Passwd -> `vpn`
  CA Certificate -> `.crt file`
  
  <br>
  
  *reference* 
  http://arekorebibouroku.hateblo.jp/entry/2014/04/07/001637
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-12-09T13:51:50.596Z"
updatedAt: "2017-12-09T13:52:31.224Z"
