type: "MARKDOWN_NOTE"
folder: "9623484067eedd76b69e"
title: "theoretical value - Zynq Zybo"
content: '''
  # theoretical value - Zynq Zybo
  
  公式 
  FLOPS = 1コアの性能 
  ×　コア数[core] 
  ×　CPUの動作周波数[Hz = clock/s] 
   
  1コアの演算性能(1クロックに発行できる浮動小数点演算命令)
  [Floating Point Operarions/clock/dore] 
  
  ZYBOのコアの動作周波数650MHz 
  NEONを用いた場合 
  複合積和演算(*2) 
  1コアでの*2処理により，4SIMD (*2) 
  neonでは2回に1度の処理しか行なえないので1/2 
  よってPSのみのピーク演算性能は 
  650 * 2 * 2 * 2 * ½ = 2.6GFlops 
   
  Zynq のPL部分は450GHz以上． 
  データ送信，受信と演算のパイプライン 
  DSPの個数=80 
  450 * 80  * ½ =  180000MFLOPS = 18GFLOPS 
   
  ピーク演算性能ではハード化は約　6.92倍 
  
  メモリ幅の比較 
   
  音響FDTDでは，音圧の値と粒子速度の値が2値必要になる． 
  そのため，Zynq HPバスが3つ必要となる． 
   
  ここで，DDR3 : 1050MB/s 
     Zynq HPポート : 801.1MB/s 
   
  このため，メモリバンド幅の比較では， 
  効率が78.52%となる． 
  
  
  今回高速化を行うのは，Pressure, Boundaryの計算であり， 
  それは今回の演算のおよそ98%を占める． 
   
  そのため，ピーク演算性能で見た場合は， 
   
  6.92 * 0.983 = 6.802倍の演算速度向上が望める．  
  
  ## 性能実験
  2400×2400[m^2]の領域に対して，音波伝搬解析を行ったところ． 
  演算時間は， 
  All : 34.480271[s] 
  Pressure : 14.379425[s] 
  Boundary : 0.114836[s] 
  Velocity : 19.541138[s] 
  Write : 0.003527[s] 
   
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-12-09T06:56:17.289Z"
updatedAt: "2018-01-13T13:22:49.594Z"
