type: "MARKDOWN_NOTE"
folder: "0a3e6d012949ec431c33"
title: "How to Use"
content: '''
  # How to Use
  ```
  # Install
  sudo apt-get install iverilog gtkwave 
  
  # Compile
  iverilog –o output Verilog main.v
  
  # Exec
  vvp output
  
  # Wave View
  gtkwave wave.out
  ```
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-12-09T13:50:16.188Z"
updatedAt: "2017-12-09T13:50:19.554Z"
