createdAt: "2018-02-14T12:01:33.887Z"
updatedAt: "2018-02-15T03:12:16.629Z"
type: "MARKDOWN_NOTE"
folder: "729853406deecb2c59b4"
title: "How to Study"
content: '''
  # How to Study
  
  Date : 2018-02-15 Thursday
  
  恐らく，引き継ぎで研究することはないと思うので簡単に書きます．
  
  # 導入
  ## 並列処理の始め方
  MPIとOpenMPについて調べてください．
  MPIの練習(test) codeは以下に置いているので，
  
  参考になるかわかりませんが，どうぞcloneして使ってください．
  
  <https://github.com/sakuraville/mpi_practice>
  
  ## FPGAの始め方
  
  FPGAで自分で計算機なり，アクセラレータなりを自分で一から作るのはとても大変です．
  
  実際にガッツリと回路(IP)生成して性能を出そうと考えているならHDLの文法から勉強して，
  一度自分で作ってみるのもいいかもしれません．
  
  例えば，VHDLで8bitの簡単なMPUを作ったものが以下あります．
  
  <https://github.com/sakuraville/mpu_vhdl_simple>
  
  しかし，前述の通りHDLで一から指定の計算を行う回路(IP)を作るのは大変です．
  ですので，最近では高位合成を使ってHDL codeを生成し，その後自分でちょちょっといじる
  のが一般的になってきています．
  
  高位合成やFPGAの扱い方について，参考になるサイトをいくつか挙げておきます．
  
  <http://marsee101.blog19.fc2.com/>
  <https://www.slideshare.net/narusugimoto/zynq-vivado-hls>
  <https://www.slideshare.net/marsee101/vivado-hls1>
  
  # 環境について
  
  # クラスタ
  
  ## how to login
  ipアドレスについては，私(岩本)のshareディレクトリに恐らく，それについてのファイルが置いてあります．
  例えば，ホスト機(openblocks01)へのsshは以下のようにします．
  ```
  $ ssh root@192.168.10.2
  ```
  
  openblocks系の場合は
  user     : root
  password : root
  
  zybo系の場合は
  user     : root
  password : haya-lab
  
  となっています．
  
  ## 台数について
  クラスタは現状13,14台ほどになっています．
  元々は20台ほどありましたが，一時期他の方の研究に使用するために数台外しました．
  台数を増やす場合は，研究室内Shareフォルダにlinaroのイメージファイルがあるので
  自身でビルドし直すといいでしょう．もちろんですが，ネットにも落ちています．
  ホスト機とバージョンを一致させるようにするといい感じです．
  
  ## how to mount 
  マウントは全てホスト機の`/mnt`にマウントすると上手くいきます．
  もしうまくいかない場合は，再度全ての計算機のマウント場所を確認したり，
  マウントし直したりしましょう．
  
  # 研究内容について
  論文やスライド資料を読んでもらえればわかると思います．
  そちらのほうが詳しく書いてます．
  
  
'''
tags: []
isStarred: false
isTrashed: false
